.cmt-input-wrap {
  .post-cmt-wrap {
    display: flex;
    align-items: center;
    padding-bottom: 0.8rem;

    .user-cmt {
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 0.5rem;

      img {
        width: 100%;
      }
    }

    .post-cmt-box {
      position: relative;
      flex: 1;
      display: flex;
      align-items: center;

      border-radius: 1.8rem;
      padding-right: 5rem;
      cursor: text;

      .post-cmt-input {
        position: relative;
        flex: 1;
        width: 100%;

        display: flex;
        align-items: center;

        padding: 0.8rem 1.2rem 0.8rem 1.2rem;

        [contentEditable="true"] {
          width: 100%;

          font-size: 1.5rem;
          line-height: 2rem;

          outline: none;
          border: none;

          &:empty::after {
            content: attr(data-text);
            opacity: 0.6;
          }
        }
      }
      // end of .post-cmt-input

      .other-cmt-way {
        padding: 0;
        list-style: none;
        // padding-right: 1rem;

        display: flex;
        align-items: center;
        justify-content: end;

        position: absolute;
        right: 0;
        bottom: 0;

        li {
          position: relative;
          width: 3.2rem;
          height: 3.2rem;

          margin: 0.2rem;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          cursor: pointer;

          i {
            position: relative;

            display: block;
            // height: 100%;
            // width: 100%;

            width: 1.6rem;
            height: 1.6rem;

            background-repeat: no-repeat;

            line-height: 3.2rem;

            text-align: center;
            opacity: 0.7;
          }

          .title {
            position: absolute;

            // transform: translateX(-30%);
            right: 0;
            bottom: 90%;

            white-space: nowrap;
            padding: 0.8rem 1.2rem;
            border-radius: 0.8rem;

            font-size: 1.3rem;
            opacity: 0.75;
            display: none;
          }

          i:hover ~ .title {
            display: block;
          }

          &:hover {
            .bg {
              filter: brightness(1.1);
              border-radius: 50%;
              display: block;
            }
          }
        }
      } // end of .other-cmt-way

      &.active {
        padding-right: 0;
        padding-bottom: 3.5rem;
      }
    } // end of .post-cmt-box
  } // end of .post-cmt-wrap

  .preview-img-wrap {
    display: flex;
    width: 100%;
    position: relative;

    padding-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1.6rem;

    .preview-img {
      position: relative;
      max-width: 12rem;
      max-height: 20rem;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
    .preview-close {
      position: absolute;
      right: 1.2rem;
      top: 0;

      width: 2.4rem;
      height: 2.4rem;
      line-height: 2rem;
      border-radius: 50%;

      text-align: center;
      cursor: pointer;

      .bg {
        border-radius: 50%;
        display: block;
      }

      &:hover {
        .bg {
          filter: brightness(1.2);
        }
      }

      i {
        position: relative;
        font-size: 1rem;
      }
    }
  }
}
