@import "../../variable.scss";

.top-nav {
  position: sticky;
  top: 0;

  z-index: $topnav-zindex;

  .top-nav__wrap {
    position: relative;
    border-bottom: 1px solid;

    display: flex;
    align-items: center;
    justify-content: space-between;

    // z-index: $topnav-zindex;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

    min-height: 5.6rem;

    .search-history-overlay {
      position: fixed;
      top: 0rem;
      left: 0;
      right: 0;
      bottom: 0;

      display: none;
      // background-color: rgba(0, 0, 0, 0.15);

      &.active {
        display: block;
      }
    }

    .branch__wrap {
      padding: 0 1.6rem 0 1.4rem;
      position: absolute;

      display: flex;
      align-items: center;

      z-index: $topnav-zindex + 5;
      height: 5.6rem;

      .img__wrap {
        position: relative;
        z-index: $topnav-zindex + 5;
        display: flex;
        align-items: center;
        width: 4rem;
        img {
          width: 100%;
        }
      }

      .top-nav-search__header {
        position: relative;

        display: flex;
        align-items: center;

        transition: 0.3s;

        .out-focus-input-btn {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;

          position: absolute;

          display: flex;
          justify-content: center;
          align-items: center;

          cursor: pointer;
          transition: 0.2s;
          opacity: 0;
          transform: translateX(-60%);

          .bg {
            height: 100%;
            width: 100%;
            position: absolute;
            border-radius: 50%;

            top: 0;
          }

          i {
            position: relative;
          }
        }
        // end of .out-focus-btn

        .top-nav-search {
          position: relative;
          margin-left: 1rem;
          background-color: rgba(0, 0, 0, 0.4);

          transition: 0.3s;
          height: 4rem;

          display: flex;
          align-items: center;

          width: 24rem;
          border-radius: 4rem;

          input {
            background-color: unset;
            position: relative;
            right: 0;

            flex: 1;
            border: none;
            outline: none;

            height: 4rem;
            border-radius: 4rem;

            transition: 0.1s;
            padding: 0.7rem 1.6rem 0.9rem 3.6rem;
          }

          .search-icon {
            position: absolute;
            left: 0;
            top: 50%;
            z-index: $topnav-zindex + 4;

            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            border-radius: 50%;

            cursor: text;
            opacity: 0.8;
            transform: translate(0%, -50%);
            transition: 0.1s;

            i {
              font-size: 1.6rem;
            }
          }

          input:focus {
            padding-left: 1.6rem;

            & ~ .search-icon {
              left: 0;
              opacity: 0;
              transform: translate(-70%, -50%);
            }
          }

          @media (max-width: 1250px) {
            & {
              width: 4rem;
            }

            input {
              display: none;
            }

            .search-icon {
              transform: translate(0%, -50%);
            }
          }
        } // end of .top-nav-search
      } // end of .top-nav-search__header

      &.active {
        z-index: 1;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

        .img__wrap {
          // display: none;
          opacity: 0;
        }

        .top-nav-search__header {
          padding-left: 0;

          .out-focus-input-btn {
            opacity: 1;
            z-index: $topnav-zindex + 5;
            transform: translateX(-120%);
          }

          .top-nav-search {
            width: 25rem;
            margin-left: 0;

            input {
              display: block;
            }

            @media (max-width: 1250px) {
              .search-icon {
                transform: translate(0%, -50%);
              }
            }
          }
        }
      }
    }
    // end of .branch__wrap

    .top-nav-search__wrap {
      position: absolute;
      top: 5.6rem;
      left: 0;
      z-index: $topnav-zindex + 1;

      width: 32rem;

      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      display: none;

      .search-history__wrap {
        .search-history__header {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 1rem;

          padding: 0.6rem 0.4rem 0 0.8;

          .search-history-title {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2rem;
          }

          .search-history-edit-btn {
            position: relative;
            width: 4.2rem;
            height: 3.6rem;
            line-height: 3.6rem;

            border-radius: 0.2rem;
            color: #58a3ff;
            text-align: center;
            cursor: pointer;

            .bg {
              position: absolute;
              top: 0;
              left: 0;

              width: 100%;
              height: 100%;
              border-radius: 0.5rem;
              display: none;
            }

            span {
              font-size: 1.5rem;
              position: relative;
            }

            &:hover {
              .bg {
                display: block;
              }
            }
          }
        }
        // end of .search-history__header
      }
      // end of .search-history__wrap

      &.active {
        display: block;
        padding: 0rem 0.8rem 0.8rem;
        box-shadow: 0.1rem 1rem 1rem rgba(0, 0, 0, 0.15);
      }
    }
    // end of .top-nav-search__wrap

    .hotkeys-bar {
      width: 100%;

      .hotkeys-list {
        position: relative;

        height: 5.6rem;
        width: 100%;
        display: flex;
        justify-content: center;

        list-style: none;
        padding: 0 23rem 0 22rem;
      }
      //end of .hotkeys-list
    }
    // end of .hotkeys-bar

    .top-nav-btn__wrap {
      padding: 0 1.6rem;
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;

      .user-btn {
        margin-right: 0.8rem;
        border-radius: 2rem;
        // overflow: hidden;
        position: relative;

        .bg-overlay {
          height: 100%;
          width: 100%;
          position: absolute;

          top: 0;
          display: none;
        }

        &:hover {
          .bg-overlay {
            display: block;
          }
        }

        .top-nav-user {
          position: relative;
          display: flex;
          align-items: center;

          padding: 0 1.2rem 0.1rem;
          height: 3.6rem;

          .user-ava {
            width: 3rem;
            height: 3rem;
            position: relative;
            margin-left: -0.8rem;

            .user-ava-img {
              width: 100%;

              img {
                width: 100%;
              }
            }
          }
          // end of .user-ava

          .user-name {
            margin-left: 0.5rem;

            font-weight: 600;
            font-size: 1.5rem;
            line-height: 2rem;
          }
        } // end of .top-nav-user

        @media (max-width: 1250px) {
          display: none;
        }
      } // end of .user-btn

      .btn-item {
        width: 4rem;
        height: 4rem;

        position: relative;

        &:hover {
          filter: brightness(0.95);
        }

        .btn-item__wrap {
          position: relative;

          height: 100%;
          border-radius: 50%;
          cursor: pointer;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        .btn-item-title {
          position: absolute;
          top: 125%;
          right: 50%;

          border-radius: 0.8rem;
          text-align: center;
          font-size: 1.3rem;

          white-space: nowrap;
          padding: 0.6rem 1.2rem;
          opacity: 0;

          transform: translateX(50%);
          transition: 0.3s;
          user-select: none;
        }

        &:last-child {
          .btn-item-title {
            right: 0;
            transform: unset;
          }
        }

        .btn-item__wrap:hover ~ .btn-item-title {
          opacity: 0.78;
        }
      }
      .btn-item + .btn-item {
        margin-left: 0.8rem;
      } // end of .btn-item
    } // end of .top-nav-btn__wrap
  } // end of .top-nav__wrap
} // end of .top-nav
