@import "../../variable";

.post-item {
  padding: 1.2rem 0rem 0;
  margin-bottom: 5rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

  .post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    padding: 0 1.6rem;

    .post-author {
      display: flex;
      align-items: center;

      .author-ava {
        width: 4rem;
        height: 4rem;
        display: block;
        user-select: none;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      .author-desc {
        display: flex;
        flex-direction: column;
        margin-left: 0.8rem;

        .author-name {
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2rem;
        }

        .post-published-time {
          font-size: 1.3rem;
          line-height: 1.6rem;
          opacity: 0.6;
        }
      }
    }
    // end of .posts-author

    .post-header-3dots {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;

      text-align: center;
      cursor: pointer;
      position: relative;

      &:hover .bg {
        border-radius: 50%;
        display: block;
      }

      i {
        line-height: 3.6rem;
        opacity: 0.7;
      }
    }
  }
  // end of .post-header

  .post-body {
    .post-content-text {
      padding: 0.4rem 1.6rem 1.6rem;

      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
    }

    .post-content-media {
      width: 100%;

      .media {
        display: block;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  // end of post-body

  .post-footer {
    padding: 0 1.6rem;
    user-select: none;

    .post-footer-heading {
      display: flex;
      width: 100%;

      justify-content: space-between;

      padding: 1rem 0;
      position: relative;

      font-size: 1.5rem;
      opacity: 0.8;

      .quantity-react {
        display: flex;
        flex: 1;

        &.quantity-of-reactions {
          justify-content: flex-start;
        }

        &.quantity-of-comments {
          justify-content: flex-end;
        }

        span:first-child {
          margin-right: 0.5rem;
        }
      }
    }
    // end of .post=footer-heading

    .post-footer-btn__wrap {
      display: flex;
      justify-content: space-between;
      padding: 0.4rem 0;

      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2rem;

      border: 1px solid;
      border-left: none;
      border-right: none;

      & i,
      & span {
        background-color: transparent;
      }

      input[name="themeCheckbox"]:checked ~ .btn__wrap-item {
        .btn__sub-wrap-item {
          i {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(171deg)
              brightness(100%) contrast(100%);
          }
        }
      }
      .btn__wrap-item {
        flex: 1;
        cursor: pointer;
        border-radius: 0.4rem;

        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          .bg {
            display: block;
            border-radius: 0.3rem;
          }
        }

        .btn__sub-wrap-item {
          position: relative;

          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          padding: 0.6rem 0;
          width: 100%;
          height: 100%;

          i {
            margin-right: 0.5rem;
            position: relative;

            display: inline-block;
            width: 1.8rem;
            height: 1.8rem;

            background-size: auto;
            background-repeat: no-repeat;

            opacity: 0.7;
          }
        }

        &.like-btn__wrap {
          .btn__sub-wrap-item {
            i {
              background-position: 0px -218px;
              background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/RQEYh0kBLZU.png");
            }
          }

          input[id="is-reacted-btn"]:checked ~ .btn__sub-wrap-item {
            i {
              opacity: 1;
              background-position: 0px -199px;
              filter: invert(38%) sepia(65%) saturate(1863%) hue-rotate(202deg)
                brightness(104%) contrast(102%);
            }

            span {
              color: $blue-color;
            }
          }
        }

        &.comment-btn__wrap {
          .btn__sub-wrap-item {
            i {
              background-position: 0px -180px;
              background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/RQEYh0kBLZU.png");
            }
          }
        }

        &.share-btn__wrap {
          .btn__sub-wrap-item {
            i {
              background-position: 0 -237px;
              background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/RQEYh0kBLZU.png");
            }
          }
        }
      }
      // end of .btn__wrap-item
    }
    // end of post-footer-btn__wrap
    .post-footer-cmt__wrap {
      display: flex;
      align-items: center;
      padding: 0.8rem 0;

      .user-cmt {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 0.5rem;

        img {
          width: 100%;
        }
      }

      .post-cmt-box {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;

        border-radius: 1.8rem;
        padding-right: 5rem;
        cursor: text;

        .post-cmt-input {
          position: relative;
          flex: 1;
          width: 100%;

          display: flex;
          align-items: center;

          padding: 0.8rem 1.2rem 0.8rem 1.2rem;

          [contentEditable="true"] {
            width: 100%;

            font-size: 1.5rem;
            line-height: 2rem;

            outline: none;
            border: none;

            &:empty::after {
              content: attr(data-text);
              opacity: 0.6;
            }
          }
        }
        // end of .post-cmt-input

        .other-cmt-way {
          padding: 0;
          list-style: none;
          // padding-right: 1rem;

          display: flex;
          align-items: center;
          justify-content: end;

          position: absolute;
          right: 0;
          bottom: 0;

          li {
            position: relative;
            width: 3.2rem;
            height: 3.2rem;

            margin: 0.2rem;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            i {
              position: relative;

              display: block;
              height: 100%;
              width: 100%;
              line-height: 3.2rem;

              text-align: center;
              opacity: 0.7;
            }

            .title {
              position: absolute;

              // transform: translateX(-30%);
              right: 0;
              bottom: 90%;

              white-space: nowrap;
              padding: 0.8rem 1.2rem;
              border-radius: 0.8rem;

              font-size: 1.3rem;
              opacity: 0.75;
              display: none;
            }

            i:hover ~ .title {
              display: block;
            }

            &:hover {
              .bg {
                filter: brightness(1.1);
                border-radius: 50%;
                display: block;
              }
            }
          }
        } // end of .other-cmt-way

        &.active {
          padding-right: 0;
          padding-bottom: 3.5rem;
        }
      } // end of .post-cmt-box
    } // end of .post-footer-cmt__wrap
  } // end of .post-footer
} // end of .post-item
