.post-item {
  padding: 1.2rem 0rem 0;
  margin-bottom: 5rem;
  border-radius: 1rem;
  border: 1px solid;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

  .post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
    padding: 0 1.6rem;

    .post-author {
      display: flex;
      align-items: center;

      .author-ava {
        width: 4rem;
        height: 4rem;
        display: block;
        user-select: none;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      .author-desc {
        display: flex;
        flex-direction: column;
        margin-left: 0.8rem;

        .author-name {
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 2rem;
        }

        .post-published-time {
          font-size: 1.3rem;
          line-height: 1.6rem;
          opacity: 0.6;
        }
      }
    }
    // end of .posts-author

    .post-header-3dots {
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;

      text-align: center;
      cursor: pointer;

      i {
        line-height: 3.6rem;
        opacity: 0.7;
      }

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
  // end of .post-header

  .post-body {
    .post-content-text {
      padding: 0.4rem 1.6rem 1.6rem;

      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
    }

    .post-content-media {
      width: 100%;
      background-color: aqua;

      .media {
        display: block;
        width: 100%;
        object-fit: contain;
      }
    }
  }
  // end of post-body

  .post-footer {
    padding: 0 1.6rem;

    .post-footer-heading {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;

      font-size: 1.5rem;
      opacity: 0.8;

      .quantity-react {
        span:first-child {
          margin-right: 0.5rem;
        }
      }
    }
  }
  // end of .post-footer
}
// end of .post-item
